**/.DS_Store
**/*.aux
**/*.bbl
**/*.blg
**/*.glo
**/*.idx
**/*.ist
**/*.log
**/*.mmd
**/*.out
**/*.toc
**/ui.ini*
src/mmd/user.mmd
**/*.orig
**/*.autosave
**/Files/binder.autosave
**/Files/binder.backup
**/Files/search.indexes
**/Files/user.lock
**/Files/Docs/docs.checksum
**/QuickLook/
**/Settings/ui.plist
/txt2pdf*/
**/*.fls
**/*.spl
**/*.thm
**/*.xdv

results/2021*.*
results/2022*.*
src/docs/2022_archSIOp.md
src/docs/TableDesignPrinciples.tex.bak
src/images/3SemanticConcerns-old.png
templates/pandoc-TNOdocstyle.docx

